cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.60.1
fpdf2==2.8.4
-e git+ssh://git@github.com/niksilver/game-helper.git@a6660f2e3b5d8173e1f3a66c6968029349c061b1#egg=gamehelper
html2image==2.0.7
idna==3.18
iniconfig==2.3.0
Jinja2==3.1.6
markdown2==2.5.4
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==25.0
pdf2image==1.17.0
pdoc==16.0.0
pillow==12.0.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==8.4.2
requests==2.34.2
tinycss2==1.5.1
urllib3==2.7.0
webencodings==0.5.1
websocket-client==1.9.0
